:root {
    --primary-color: #000080; /* Navy blue */
    --secondary-color: #696969; /* Dim gray */
    --background-color: #FFE5B4; /* Peach */
}

body {
    background-color: var(--background-color);
    font-family: 'Arial', sans-serif;
    color: var(--primary-color);
}

.container {
    margin: 0 auto;
    max-width: 1040px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

.form-control,
.form-check-input {
    border-radius: 20px;
    border: 1px solid var(--primary-color);
}

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(26,139,157, 0.25);
}

.form-check-label {
    color: var(--primary-color);
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

label {
    color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #000055;
}

.spinner-border {
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.experience .job-title {
    font-size: 1.5em;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.experience .job-title span {
    font-weight: normal;
    color: var(--secondary-color);
}

.experience ul {
    list-style-type: disc;
    margin-left: 20px;
}

.experience ul li {
    margin-top: 10px;
}

/* Projects section */
.projects .project-thumbnail {
    width: 100%;
    height: auto;
}

/* Links section */
.links a {
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 15px;
}

.links a:hover {
    text-decoration: underline;
}

/* Code snippets or technical content */
.code {
    font-family: 'Courier', monospace;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.project-logo {
    scale: 100%;
    aspect-ratio: 1/1;
    width: auto;
    height: auto; 
    object-fit: contain;
    
}

.project-card {
    position: relative;
    width: 100%;
}

/* .project-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

/* .project-card:before {
    content: "";
    float: left;
    padding-top: 10%;
} */
