{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>TravelGPT</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/standard_formatting.css' %}">

  <!-- To use the select2 library: -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>



  <!-- <style>
    <link rel="stylesheet" href="path/to/your/css/file.css">
    /* Custom CSS styles */
    /* Add your own custom styles here */
  </style> -->
</head>
<body>
  <div class="container">
    <h1 class="text-center" style="margin-top: 20px;">TravelGPT</h1>
    <div style="margin-top: 15px;"></div>
    <div class="text-center">
    Welcome to TravelGPT, a ChatGPT powered assistant which aims to construct the perfect travel itinerary for you. <br>
    To plan your ideal holiday, simply fill out the information below, and TravelGPT will do the rest!
    </div>
    <div style="margin-top: 15px;"></div>
    
    <h2 class="text-center" style="margin-top: 20px;">&#9992; Your Upcoming Trip &#9992;</h2>

    <form id="myForm" action="{% url 'travelgpt:process_form' %}" method="POST">
      <div class="form-group">
        <div class="col-sm-9 col-lg-4 text-center mx-auto">
          <label>Destination City:</label>
          <input type="text" class="form-control" name="destination" id="destination" placeholder="Enter destination city">
        </div>
      </div>
      
      <div class="form-row text-center">
        <div class="form-group col-sm-6 col-lg-3">
          <label>Arrival Date:</label>
          <input type="date" class="form-control" name="arrival-date" id="arrival-date">
        </div>
        <div class="form-group col-sm-6 col-lg-3">
          <label>Arrival Time:</label>
          <input type="time" class="form-control" name="arrival-time" id="arrival-time">
        </div>
        <div class="form-group col-sm-6 col-lg-3">
          <label>Departure Date:</label>
          <input type="date" class="form-control" name="departure-date" id="departure-date">
        </div>
        <div class="form-group col-sm-6 col-lg-3">
          <label>Departure Time:</label>
          <input type="time" class="form-control" name="departure-time" id="departure-time">
        </div>
      </div>
      
      <div class="form-group col-sm-6 col-lg-3 text-center mx-auto">
        <label>Number of Travellers:</label>
        <input type="number" class="form-control" name="num-travellers" id="num-travellers">
      </div>
      
      <div class="form-group">
        <label for="interests">Interests:</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="nature">
            <label class="form-check-label" for="nature">Nature</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="wildlife">
            <label class="form-check-label" for="wildlife">Wildlife</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="local-wines-and-beers">
            <label class="form-check-label" for="local-wines-and-beers">Local Wines and Beers</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="local-food">
            <label class="form-check-label" for="local-food">Local Food</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="famous-landmarks">
            <label class="form-check-label" for="famous-landmarks">Famous Landmarks</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="beaches">
            <label class="form-check-label" for="beaches">Beaches</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="hiking">
            <label class="form-check-label" for="hiking">Hiking</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="watersports">
            <label class="form-check-label" for="watersports">Watersports</label>
        </div>
        <!-- Add more checkboxes as needed -->
      </div>
    
      
      <div class="form-row text-center">
        <div class="form-group col-lg-3 mx-auto">
          <label>Trip Intensity:</label>
          <select class="form-control" id="trip-intensity" name="trip-intensity">
            <option>Relaxed</option>
            <option>Medium</option>
            <option>Intense</option>
          </select>
        </div>

        <div class="form-group col-lg-3 mx-auto">
          <label>Physical Activity Level:</label>
          <select class="form-control" id="activity-level" name="activity-level">
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
          </select>
        </div>

        
        <div class="form-group col-lg-3 mx-auto">
          <label>Timing Preciseness:</label>
          <select class="form-control" id="timing-preciseness" name="timing-preciseness">
            <option>Specific</option>
            <option>Approximate</option>
          </select>
        </div>
      </div>

      <div class="text-center">
        <input type="checkbox" class="form-check-input" id="relaxed-first-day" name="relaxed-first-day">
        <label class="form-check-label" for="relaxed-first-day">Relaxed First Day</label>
      </div>
      
      <div style="margin-top: 15px;"></div>

      <div class="d-flex justify-content-center">
        <button button id="params_done_button" type="submit" class="btn btn-primary text-center" style="margin-top: 5px;">Calculate Itinerary!</button>
      </div>
    </form>

    <div id="loading-spinner" class="d-flex justify-content-center mx-auto" style="margin-top: 25px;">
      <div class="spinner-border d-none" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <p id="loading-text" class="mt-2 d-none" style="margin-left: 25px;">TravelGPT is constructing your itinerary...</p>
    </div>

    <div class="text-center" style="margin-top: -15px;">
      <a href="{% url 'homepage:index' %}">Go to Homepage</a>
    </div>

  </div>

  

  <script>
    document.getElementById('myForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent the default form submission behavior
        
        // Collect form data
        var form = event.target;
        var formData = new FormData(form);

        // Display the loading spinner
        document.getElementById('loading-spinner').querySelector('.spinner-border').classList.remove('d-none');
        document.getElementById('loading-text').classList.remove('d-none');
        document.getElementById('myForm').classList.add('d-none');
        
        // Make a POST request
        var xhr = new XMLHttpRequest();
        xhr.open("POST", form.action);
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");  // Include the CSRF token if required
        xhr.send(formData);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
              // Hide the loading spinner
              document.getElementById('loading-spinner').style.display = 'none';
              
                if (xhr.status === 200) {
                  var response = JSON.parse(xhr.responseText);
                  var itinerary = response.itinerary;
                  console.log(itinerary)
          
                  // Redirect to the generated_itinerary view with the itinerary parameter
                  window.location.href = "{% url 'travelgpt:generated_itinerary' %}?itinerary=" + encodeURIComponent(itinerary);
                } else {
                    // Handle error
                    console.error(xhr.responseText);
                }
            }
        };
    });
  </script>

  <script>
    $(document).ready(function() {
        $('.form-control').select2();
    });
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

