{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>TravelGPT</title>
  <link rel="icon" href="{% static 'img/travelgpt_logo.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lobster&display=swap" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link rel="stylesheet" href="{% static 'css/standard_formatting.css' %}">

</head>
<body>
  <div class="container">
    <h1 class="text-center" style="margin-top: 20px;">TravelGPT</h1>
    <div style="margin-top: 15px;"></div>
    <div class="text-center">
    Welcome to TravelGPT, a ChatGPT powered assistant which aims to construct the perfect travel itinerary for you. <br>
    To plan your ideal holiday, simply fill out the information below, and TravelGPT will do the rest!
    </div>
    <div style="margin-top: 15px;"></div>
    <h2 class="text-center" style="margin-top: 20px;">Examples</h2>

    <div class="d-flex justify-content-center">
      <a id="params_done_button" href="{% url 'travelgpt:barcelona' %}" class="btn btn-primary text-center" style="margin-top: 5px;">Barcelona</a>
      <a id="params_done_button" href="{% url 'travelgpt:beijing' %}" class="btn btn-primary text-center" style="margin-top: 5px; margin-left: 15px; margin-right: 15px;">Beijing</a>
      <a id="params_done_button" href="{% url 'travelgpt:prague' %}" class="btn btn-primary text-center" style="margin-top: 5px;">Prague</a>
    </div>
    
    <h2 class="text-center" style="margin-top: 20px;">&#9992; Your Upcoming Trip &#9992;</h2>

    <form id="myForm" action="{% url 'travelgpt:process_form' %}" method="POST">
      <div class="form-group">
        <div class="col-sm-9 col-lg-4 text-center mx-auto">
          <label for="city">Destination City:</label>
          <input id="city" class="form-control" name="destination" id="destination">
          {% comment %} <input type="text" class="form-control" name="destination" id="destination" placeholder="Enter destination city"> {% endcomment %}
        </div>
      </div>
      
      <div class="form-row text-center">
        <div class="form-group col-sm-6 col-lg-3">
          <label>Arrival Date:</label>
          <input type="date" class="form-control" name="arrival-date" id="arrival-date">
        </div>
        <div class="form-group col-sm-6 col-lg-3">
          <label>Arrival Time:</label>
          <input type="time" class="form-control" name="arrival-time" id="arrival-time">
        </div>
        <div class="form-group col-sm-6 col-lg-3">
          <label>Departure Date:</label>
          <input type="date" class="form-control" name="departure-date" id="departure-date">
        </div>
        <div class="form-group col-sm-6 col-lg-3">
          <label>Departure Time:</label>
          <input type="time" class="form-control" name="departure-time" id="departure-time">
        </div>
      </div>
      
      <div class="form-group col-sm-6 col-lg-3 text-center mx-auto">
        <label>Number of Travellers:</label>
        <input type="number" class="form-control" name="num-travellers" id="num-travellers">
      </div>
      
      <div class="form-group">
        <div class="text-center" sytle="margin-bottom: 10px;">
          <label for="interests" >Interests:</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="nature">
            <label class="form-check-label" for="nature">Nature</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="wildlife">
            <label class="form-check-label" for="wildlife">Wildlife</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="local-wines-and-beers">
            <label class="form-check-label" for="local-wines-and-beers">Local Wines and Beers</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="local-food">
            <label class="form-check-label" for="local-food">Local Food</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="famous-landmarks">
            <label class="form-check-label" for="famous-landmarks">Famous Landmarks</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="beaches">
            <label class="form-check-label" for="beaches">Beaches</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="hiking">
            <label class="form-check-label" for="hiking">Hiking</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="interests" value="watersports">
            <label class="form-check-label" for="watersports">Watersports</label>
        </div>
        <!-- Add more checkboxes as needed -->
      </div>
    
      
      <div class="form-row text-center">
        <div class="form-group col-lg-3 mx-auto">
          <label>Trip Intensity:</label>
          <select class="form-control" id="trip-intensity" name="trip-intensity">
            <option>Relaxed</option>
            <option>Medium</option>
            <option>Intense</option>
          </select>
        </div>

        <div class="form-group col-lg-3 mx-auto">
          <label>Physical Activity Level:</label>
          <select class="form-control" id="activity-level" name="activity-level">
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
          </select>
        </div>

        
        <div class="form-group col-lg-3 mx-auto">
          <label>Timing Preciseness:</label>
          <select class="form-control" id="timing-preciseness" name="timing-preciseness">
            <option>Specific</option>
            <option>Approximate</option>
          </select>
        </div>
      </div>

      <div class="text-center">
        <input type="checkbox" class="form-check-input" id="relaxed-first-day" name="relaxed-first-day">
        <label class="form-check-label" for="relaxed-first-day">Relaxed First Day</label>
      </div>
      
      <div style="margin-top: 15px;"></div>

      <div class="d-flex justify-content-center">
        <button button id="params_done_button" type="submit" class="btn btn-primary text-center" style="margin-top: 5px;">Calculate Itinerary!</button>
      </div>
    </form>

    <div id="loading-spinner" class="d-flex justify-content-center mx-auto" style="margin-top: 25px;">
      <div class="spinner-border d-none" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <p id="loading-text" class="mt-2 d-none" style="margin-left: 25px;">TravelGPT is constructing your itinerary...</p>
    </div>

    <div id="homepage-link" class="text-center" style="margin-top: -15px;">
      <a href="{% url 'homepage:index' %}">Go to Homepage</a>
    </div>

  </div>

  {% comment %} <script>
    $(document).ready(function() {
      $('.city-select').on('select2:open', () => {
          // After the dropdown is opened, focus the search field
          document.querySelector('.select2-search__field').focus();
      });

        $('.city-select').select2({
            ajax: {
                url: function (params) {
                    return 'http://geodb-free-service.wirefreethought.com/v1/geo/cities?namePrefix=' + params.term;
                },
                dataType: 'json',
                delay: 250,
                processResults: function (data) {
                    return {
                        results: $.map(data.data, function(item) {
                            return {
                                text: item.name,
                                id: item.id
                            }
                        })
                    };
                },
                cache: true
            },
            placeholder: 'Search for a city',
            minimumInputLength: 1  // User must type at least 1 character
        });
    });
  </script> {% endcomment %}

  <script>
    $(function() {
      var activeItem = null;
      var isItemSelected = false;
      $("#city").autocomplete({
          source: function(request, response) {
              $.ajax({
                  url: "http://geodb-free-service.wirefreethought.com/v1/geo/cities",
                  data: {
                      namePrefix: request.term,
                      limit: 5  // You can limit the number of results here
                  },
                  success: function(data) {
                      // Map the results to the format expected by jQuery UI
                      response($.map(data.data, function(item) {
                          return { label: item.name, value: item.name };
                      }));
                  }
              });
          },
          minLength: 1,
          open: function() {
              // Select the first item by default
              if (!isItemSelected) {
                  activeItem = $(this).autocomplete("instance").menu.element.children().first();
                  activeItem.addClass('ui-state-active');
              }
          },
          select: function(event, ui) {
              $(this).autocomplete("instance").menu.element.children().first().removeClass('ui-state-active');
              isItemSelected = true;
              event.preventDefault();
    
              // Set the input's value to the item that is currently focused
              activeItem = $(this).data("ui-autocomplete").menu.active;
              if (activeItem) {
                  $(this).val(activeItem.text());
              } else {
                  $(this).val(ui.item.value);
              }
          }
      }).keydown(function(e) {
          var keyCode = e.keyCode || e.which; 
          if (keyCode === 13) { // 13 is the keycode for Enter
              e.preventDefault();
              if (activeItem) {
                activeItem.click();
              }
              $(this).autocomplete('instance').menu.element.children().first().click();
              return false;
          } else if (keyCode === 38 || keyCode === 40) { // 38 is up arrow, 40 is down arrow
            isItemSelected = true;
          }
          else {
            isItemSelected = true;
          }
      }).on('change', function() {
        isItemSelected = true;
      });
    });

    $(document).ready(function() {
      $('form input').keypress(function(e) { 
          var keyCode = e.keyCode || e.which; 
          if (keyCode === 13) { // 13 is the keycode for Enter
              e.preventDefault();
              return false;
          }
      });
    });
  
  </script>

  <script>
    document.getElementById('myForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Prevent the default form submission behavior
        
        // Collect form data
        var form = event.target;
        var formData = new FormData(form);

        // Display the loading spinner, hide the homepage link and form
        document.getElementById('loading-spinner').querySelector('.spinner-border').classList.remove('d-none');
        document.getElementById('loading-text').classList.remove('d-none');
        document.getElementById('myForm').classList.add('d-none');
        document.getElementById('homepage-link').classList.add('d-none');
        
        // Make a POST request
        var xhr = new XMLHttpRequest();
        xhr.open("POST", form.action);
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");  // Include the CSRF token if required
        xhr.send(formData);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
              
                if (xhr.status === 200) {
                  var response = JSON.parse(xhr.responseText);
                  var itinerary = response.itinerary;
                  console.log(itinerary)
          
                  // Redirect to the generated_itinerary view with the itinerary parameter
                  window.location.href = "{% url 'travelgpt:generated_itinerary' %}?itinerary=" + encodeURIComponent(itinerary);
                } else {
                    // Handle error
                    console.error(xhr.responseText);
                }
            }
        };
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
</body>
</html>

