<!DOCTYPE html>
<html>
<head>
    <title>Loading</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div style="margin-top: 20px;">
        <h1 class="text-center">Your Trip Itinerary is Loading...</h1>
    </div>
    <div style="margin-top: 30px;"></div>
    <div class="col-lg-9 col-md-10 col-12 mx-auto text-center">
        <p> Give TravelGPT a moment to construct your trip plan for you.
    </div>
</body>
</html>
